<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hostel_Management_Software.My.MySettings.ConnectionString"
            connectionString="DATA SOURCE=localhost:1521/orclpdb;PASSWORD=hr;PERSIST SECURITY INFO=True;USER ID=HR"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>